<ion-view view-title="Home">
  <ion-content>
    <h1>Home</h1>
    <ul class="color-chips group">
      <li class="color">
        <a style="background-color: #3B4848" title="#3B4848" href="/colors/3B4848">#3B4848</a>
      </li>
      <li class="color">
        <a style="background-color: #FCFCFC" title="#FCFCFC" href="/colors/FCFCFC">#FCFCFC</a>
      </li>
      <li class="color">
        <a style="background-color: #2CA49A" title="#2CA49A" href="/colors/2CA49A">#2CA49A</a>
      </li>
      <li class="color">
        <a style="background-color: #DCE6E3" title="#DCE6E3" href="/colors/DCE6E3">#DCE6E3</a>
      </li>
      <li class="color">
        <a style="background-color: #839896" title="#839896" href="/colors/839896">#839896</a>
      </li>
      <li class="color">
        <a style="background-color: #EC5B19" title="#EC5B19" href="/colors/EC5B19">#EC5B19</a>
      </li>
      <li class="color">
        <a style="background-color: #90CAD0" title="#90CAD0" href="/colors/90CAD0">#90CAD0</a>
      </li>
</ul>
  </ion-content>
</ion-view>
