<ion-view title="Sedi">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-assertive active button-block button-small">VEDI TUTTE LE SEDE</button>
        </div>
        <ion-list class="event-container">
            <ion-item class="item item-avatar" ui-sref="app.sede">
                <img src="img/FfkUSSuTjW8s3hOLCUXa_Carnevale.jpg">
                <h2>PARABIAGO</h2>
                <p>Via Re Depaolini, 68</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.sede">
                <img src="img/1fFkjopRRv2rENMsCZ7S_Halloween.jpg">
                <h2>LEGNANO</h2>
                <p>Via B. Melzi, 20</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.sede">
                <img src="img/nBaqq6fHSti67HDYPNfy_Inaugurazione.jpg">
                <h2>CANEGRATE</h2>
                <p>Via Redipuglia</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.sede">
                <img src="img/FfkUSSuTjW8s3hOLCUXa_Carnevale.jpg">
                <h2>POGLIANO MILANESE</h2>
                <p>Via Garibaldi</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.sede">
                <img src="img/1fFkjopRRv2rENMsCZ7S_Halloween.jpg">
                <h2>GARBAGNATE MILANESE</h2>
                <p> Via Gran Sasso, 12</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
