<ion-view view-title="Sedi Googler Map">
  <ion-content>
    
    <div id="map-container" data-tap-disabled="true"></div>

	<h4 class="text-center padding-top">JOKER DANCE CLUB S.S.D. A.R.L.</h4>
	<p class="text-center">(SEDE PRINCIPALE)</p>

	<a href="#" class="item item-icon-left"><i class="icon  ion-ios-location"></i>Via Mario Re Depaolini <br> 20015 Parabiago MI,Italia</a>
	<a href="#" class="item item-icon-left"><i class="icon  ion-earth"></i>jokerdance.it</a>
	<a href="#" class="item item-icon-left"><i class="icon  ion-android-call"></i>+39 338 317 9645t</a>
  
  </ion-content>
</ion-view>
